body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 150%;
  background: rgb(250, 250, 250);
}

.site-nav {
  padding: 0.25rem 0.5rem;
  background: rgb(36, 38, 41);
  color: #b1b1b1;
}

.icon-view {
  display: flex;
  justify-content: space-between;
  line-height: 2.5;
  padding: .5rem;
}

.icon-view .icon {
  width: 1rem;
}

.list-view {
  display: none;
}

header {
  color: white;
  height: 80vh;
  background: url(../img/witcher-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (min-width:940px){

  h2 {
    font-size: 2.8125rem;
  }

  .icon-view {
    display: none;
  }

  .list-view {
    font-weight: 700;
    display:flex;
    justify-content: space-around;
    padding: 1rem 0.5rem;
    margin: 0 auto;
  }

  .list-view img {
    width: 8px;
  }
  
  .list-view .branding {
    width: 120px;
  }

  .nav-items {
    width: 70%;
    display: flex;
  }

  .nav-items li {
    margin-right: 1rem;
  }

  .nav-items li:last-of-type {
    margin-right: 0;
  }

  .action-items {
    width: 15%;
    display: flex;
  }

  .action-items li {
    margin-right: 1rem;
  }

  .action-items li:last-of-type {
    margin-right: 0;
  }
}