body {
  background: rgba(44, 42, 41, 0.952);
  color: rgb(255, 255, 255);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 100%;
  margin: 0 auto;
  max-width: 1200px;
  line-height: 150%;
}

.icon-view {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: .5rem 1rem;
}

.branding {
  font-weight: 600;
}
a,
a:visited {
  color: white;
}

a:hover {
  text-decoration: none;
  color: #ffc600;
  transition: 0.3s ease-in;
}

.list-view {
  display: none;
}

.quizzes{
}

.quiz-card {
  position:relative;
  max-width: 300px;
  min-height: 450px;
  min-width: 275px;
  margin: 0 auto;
  box-shadow: 0 0 5px  rgba(219, 219, 219, 0.527);
  overflow: hidden;
  margin-bottom: 1rem;
}

.quiz-bg-img{
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.quiz-card-branding {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.brand-icon {
  color: #DB5039;
  font-size: 1.25rem;
}
.logo-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #fff;
  margin-right: 1rem;
}

.quiz-details {
  position: absolute;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  top: 65px;
  margin: 0 5%;
  max-width: 90%;
  height: 375px;
}

.quiz-thumbnail {
  position: relative;
}

.quiz-thumbnail-circle{
  position: absolute;
  top: .5rem;
  left: .5rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-thumbnail-icon  {
  color: rgb(196, 192, 192);
  transition: .25s;
}

.quiz-thumbnail img {
  border: 3px solid white;
  max-width: 100%;
}

.quiz-title h2 {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.3;
}

.quiz-description{
  font-weight: 400;
  font-size: .7rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.play-button {
  border: 1px solid white;
  font-size: .70rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: .5rem 2rem;
  border-radius: 20px;
  margin-right: .5rem;
}

.share-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
  border-radius: 50%;
}
.share-button {
  font-size: .8rem;
}

.quiz-stats {
  width: 100%;
  border-top: 1px solid rgba(231, 228, 228, 0.603);
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  font-size: .75rem;
}

@media (min-width: 400px){
}

@media (min-width: 590px){
}

@media (min-width: 720px){

  .site-nav {
    padding: .5rem .5rem;
    margin: 0 auto;
    border-bottom: 2px solid rgb(189, 189, 189);
  }
  .icon-view {
    display: none;
  }
  .list-view {
    display: flex;
    justify-content: center;;
  }

  .list-view li {
    padding: 1rem;
  }

  .list-view .branding {
    padding-left: 0;
    font-size: 2rem;
    margin-right: auto;
  }


  .list-view .register {
    margin-left: auto;
    padding-right: 0;
  }
}

/* Utility Functions */
.red-bg {background: #DB5039;}
.red-font {color: #DB5039;}

.teal-bg{

}

.teal-font {
}