
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background: rgb(14, 13, 13);
}

body {
  margin: 0 auto;
  width: 85%;
  font-family: 'Josefin Sans', sans-serif;
  min-width: 700px;
}

.site-nav {
  line-height: 24px;
  color: #fff;
  max-height: 80px;
}

.list-view {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-style: italic;
}

.list-view li {
  margin-right: 30px;
  padding: 14px;

}

.site-nav a {
  color: #fff;
}

.site-nav a:hover {
  color: #e28534;
  text-decoration: none;
}

.list-view li:first-of-type {
  margin-right: auto;
}

/* The Button */
.list-view li:last-of-type {
  margin-left: auto;
  margin-right: 0;
  padding: 0 24px;
}

.buy-button {
  background: #fff;
  font-size: 12px;
  /* line-height: 32px; */
  border: 0;
  padding: 0 24px;
  border-radius: 50px;
  text-transform: uppercase;
  transition: all .3s;
}

.buy-button:hover {
  color: #fff;
  background:#e28534 ;
  transition: all .3s ease;

}

.header-marquee {
  padding: 34vh 1.5rem;
  color: #fff;
  min-width: 667px;
  background: linear-gradient(
    to bottom,
    rgba(80, 247, 2, 0.25),
    rgba(105, 51, 41, 0.5)),
    url(../img/tiger.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 90vh;
}

.header-marquee h2 {
  margin: 4.5rem 0 2rem 0;
  color: #fff;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 72px;
  text-shadow: 0 3px 20px #000000;
  letter-spacing: 4px;
}

.header-marquee span{
  display: inline-block;
  font-size: 14px;
  background: rgba(65, 175, 7, 0.6);
  padding: 5px 32px;
  line-height: 22px;
}

.marquee-anchors {
  margin: 4vh auto;
}
.marquee-anchors a {
  background-color: #fff;
  font-size: 1rem;
  padding: 0.75rem 24px;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  margin: 15px;
}

.marquee-anchors a:hover {
  background: #e28534;
  color: #fff;
  transition: all .3s;
}
