
/*
 *FONTS
 *-----------------------------------
 * font-family: 'Shadows Into Light Two', cursive;
 * font-family: 'Josefin Sans', sans-serif;
 */
  
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
