body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 140%;
  background: #F7F7FA;
}

.site-nav {
  background: #202226;
  color: #fff;
  margin-bottom: 40px;
}

/* Mobile View */

.site-nav .icon-view {
  margin: 0 auto;
  font-size: 15px;
}

.site-nav a,
.site-nav a:visited {
  color: #fff;
  text-decoration: none;
}

.site-nav a:hover {
  color:#A08265;
}

.mobile-shipping-info{
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255,255,255, 0.1);
  font-size: 11px;
}

.caret-down {
  font-size: 14px;
}

.mobile-shipping-info span {
  padding: 10px 18px 10px 0;
}

.shipping::after{
  margin-left: 9px;
  font-size: 13px;
  content: "|";
  color: #a6a6a6;
}

.mobile-options-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255, 0.1);
}

.mobile-options-container li {
  padding: 10px 22px 10px 0;
}

.mobile-options-container li::after{
  margin-left: 22px;
  font-size: 14px;
  content: "|";
  color: #a6a6a6;
}

.mobile-options-container li:last-of-type::after{
  display: none;
}

.branding {
  display: flex;
  justify-content: center;
  padding: 21px 0;
}
.branding img {
  max-width: 144px;
}

/* MAIN NAV MENU */
.mobile-nav-container{
  margin: 0 auto;
  width: 95%;
  background: #c7a17a;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 15px;
}

.mobile-cart-container {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 22px;
}

.mobile-cart-container li {
  padding: 35px 13px 35px 0;
  display: flex;
  align-items: center;
}

.search-btn i{
  font-size: 34px;
}

.search-btn::after {
  margin-left: 13px;
  content: "|";
  color: #a6a6a6;
}

.total-price {
  font-size: 16px;
  font-weight: 700;
}


.list-view {
  display: none;
}

.mobile-sub-menu {
  background: #fff;
  color: black;
  width: 95%;
  position:absolute;
  padding: 1rem;
  left: 2.5%;
  top: 220px;
  border: 1px solid grey;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  opacity: 0;
}

.mobile-sub-menu li{
  padding: 0px 0 10px 0;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.mobile-sub-menu li:last-of-type{
  border-bottom: 0;
  padding-bottom: 0;
}

.mobile-sub-menu a,
.mobile-sub-menu a:visited {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}

.mobile-sub-menu a:hover {
  color: #c7a17a;
  transition: 0.1s;
}
/* Dropdown MENU STYLES */
/***********************/

.dropdown{
  background: #fff;
  color: black;
  position: absolute;
  padding: 1rem;
  border-radius: 0 0 3px 3px;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 5px 5px 10px rgb(31, 31, 31);
}

.dropdown a,
.dropdown a:visited {
  text-decoration: none;
  color: black;
}

.dropdown a:hover {
  color: #c7a17a;
  transition: 0.2s;
}

/* CART MENU STYLES */
/* ******************/
.cart-menu {
  margin-right: 10%;
}

.cart-item {
  max-height: 60vh;
  border-bottom: 2px solid rgb(87, 87, 87);
  margin-bottom: 5px;
}

.cart-item:last-of-type{
  border:0;
  margin-bottom: 0;
}
.cart-item img {
  max-width: 300px;
  padding: 10px;
  border-bottom: 1px dotted #A08265
}

.purchased-item-desc {
  font-weight: 700;
}

.purchased-item-price {
  font-style: italic;
}


header {
  margin: 0 auto;
  background: url(../img/espresso-slider-2.jpg) center/cover;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 4rem;
  font-weight: 700;
  line-height: 36px;
}

h1 {
  font-size: 18px;
}

em {
  font-size: 36px;
}

header {
  margin-bottom: 3rem;
}
header .big-text {
  font-size: 24px;
  padding: .25rem;
}

header p {
  font-size: 15px;
  line-height: 1.5;
}
header p:last-of-type {
  line-height: 48px;
}

header a,
header a:visited {
  padding: 10px 5px;
  background: rgb(39, 37, 37);
  color: #fff;
  border-radius: 4px;
}

header a:hover {
  text-decoration: none;
  background: #c7a17a;
  transition: 0.2s;
}

main {
  margin: 0 auto;
  width: 95%;
  background: #c7a07a5b;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 5px;
}

.content-box {
  padding: 1rem 1rem;
  margin-bottom: 1.5rem;
}

.content-box i {
  font-size: 48px;
  margin-bottom: 1rem;
  color: rgb(46, 46, 46);
}
.content-box h3 {
  font-weight: 700;
  font-size: 24px;
}

.content-box p{
  text-align: left;
  font-size:15px;
}

@media (min-width: 380px){
  .mobile-shipping-info {
    font-size:12px;
  }
}

@media (min-width: 400px){

  .mobile-shipping-info {
    font-size: 14px;
  }
  .content-box {
    flex: 50%;
  }
  .content-box h3 {
    font-size: 18px;
  }
}

@media(min-width: 590px){
  
  .content-box {
    flex: 33%;
    max-width: 250px;
  }

  .content-box:last-of-type{
    margin: 0 auto;
  }
}

@media(min-width: 720px){
  main {
    max-width: 1000px;
  }
  .content-box{
    flex: 25%;
  }

  .content-box:last-of-type{
    margin: 0;
  }
}

@media(min-width: 1000px){
  .icon-view {
    display: none;
  }
  .list-view {
    display: block;
    font-size: 15px;
  }
  .list-view i {
    font-size: 12px;
  }
  
  .nav-list-top-container {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
  }
  .nav-list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 0 75px;
  }

  .nav-list-top span {
    margin: 10px 9px 0 0;
  }

  .list-view-shipping::after,
  .list-account-menu::after,
  .list-currency-menu::after {
    margin-left: 18px;
    content: "|";
    color: #a6a6a6;
  }

  .nav-list-bot {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    margin: 0 75px;
  }

  .nav-list-bot .branding {
    margin-right: auto;
    padding: 21px 0;
  }

  .nav-list-bot a,
  .nav-list-bot a:visited {
    text-transform: uppercase;
    transition: 0.2s;
  }

  .nav-list-bot span {
    padding: 29px 19px;
  }

  .nav-list-status-container {
    margin-left: auto;
  }

  .nav-list-status-items {
    display: flex;
    align-items: center;
    align-content: middle;
    padding-right: 25px; 
  }

  .nav-list-status-items i {
    font-size: 2rem;
    margin-right: 1rem;
  }

  h1 {
    font-size: 36px;
  }

  header .big-text {
    font-size: 42px;
  }

  header p {
    font-size: 18px;
  }

  .cart-menu {
    width: 20%;
    max-width: 300px;
  }
}