body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 140%;
  background: #F7F7FA;
}

.site-nav {
  background: #202226;
  color: #fff;
}

/* Mobile View */

.site-nav .icon-view {
  margin: 0 auto;
  font-size: 15px;
}

.site-nav a,
.site-nav a:visited {
  color: #fff;
  text-decoration: none;
}

.site-nav a:hover {
  color:#A08265;
}

.mobile-shipping-info{
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255,255,255, 0.1);
  font-size: 13px;
}

.caret-down {
  font-size: 14px;
}

.mobile-shipping-info span {
  padding: 10px 18px 10px 0;
}

.shipping::after{
  margin-left: 9px;
  font-size: 13px;
  content: "|";
  color: #a6a6a6;
}

.mobile-options-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255, 0.1);
}

.mobile-options-container li {
  padding: 10px 22px 10px 0;
}

.mobile-options-container li::after{
  margin-left: 22px;
  font-size: 14px;
  content: "|";
  color: #a6a6a6;
}

.mobile-options-container li:last-of-type::after{
  display: none;
}

.branding {
  display: flex;
  justify-content: center;
  padding: 21px 0;
}
.branding img {
  max-width: 144px;
}

.mobile-nav-container{
  margin: 0 auto;
  width: 95%;
  background: #c7a17a;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 15px;
}

.mobile-cart-container {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 22px;
}

.mobile-cart-container li {
  padding: 35px 13px 35px 0;
  display: flex;
  align-items: center;
}

.search-btn i{
  font-size: 34px;
}

.search-btn::after {
  margin-left: 13px;
  content: "|";
  color: #a6a6a6;
}

.total-price {
  font-size: 16px;
  font-weight: 700;
}


.list-view {
  display: none;
}

.mobile-sub-menu {
  background: #fff;
  color: black;
  width: 95%;
  position:absolute;
  padding: 1rem;
  left: 2.5%;
  top: 220px;
  border: 1px solid grey;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  opacity: 0;
}

.mobile-sub-menu li{
  padding: 0px 0 10px 0;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.mobile-sub-menu li:last-of-type{
  border-bottom: 0;
  padding-bottom: 0;
}

.mobile-sub-menu a,
.mobile-sub-menu a:visited {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}

.mobile-sub-menu a:hover {
  color: #c7a17a;
  transition: 0.1s;
}

.dropdown{
  background: #fff;
  color: black;
  position: absolute;
  padding: 1rem;
  border-radius: 0 0 3px 3px;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 5px 5px 10px rgb(31, 31, 31);
}
