// Colors
$color--white: #ffffff;
$color--orange: #e28534;

// Typography
$font-header: "Shadows Into Light Two", cursive;
$font-body: "Josefin Sans", sans-serif;

// Typography
body {
  font-family: $font-body;
}

h1,
h2,
h3,
h4 {
  font-family: $font-header;
}

a,
.nav-link {
  color: $color--white;
  &:visited {
    color: $color--white;
  }

  &:hover {
    color: $color--orange;
    text-decoration: none;
  }
}
